@value makerLightGrey from "../../common/colors.css";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageBtn {
  flex: 1;
  height: 100%;
  font-weight: bold;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  background-color: makerLightGrey;
}

.imageInput {
  display: none;
}

.imageBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.pink {
  background-color: pink;
}

.loading {
  width: 20px;
  height: 20px;
}
