@value makerGreen, makerBlack from "../../common/colors.css";

.header {
  padding: 10px;
  background-color: makerGreen;
  position: relative;
  text-align: center;
}

.header > img {
  width: 50px;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 6px;
  background-color: makerBlack;
  color: white;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

.title {
  color: white;
  margin: 0;
}
