@value makerGreen from "../../common/colors.css";
@value makerWhite from "../../common/colors.css";
@value makerLightPink from "../../common/colors.css";

.section {
  margin: auto;
  margin-top: 200px;
  color: aliceblue;
  text-align: center;
  width: 500px;
}
.login {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: makerWhite;
  color: black;
  font-weight: 1000;
  font-size: 2rem;
}

.login > span {
  margin-bottom: 20px;
}

.login > button {
  font-size: 1rem;
  margin: 5px;
  padding: 10px;
  background-color: makerWhite;
  border: 3px solid makerGreen;
  border-radius: 15px;
  cursor: pointer;
}

.login > button:hover {
  background-color: makerLightPink;
}
