@value makerBlack, makerGreen, makerWhite, makerLightPink from "../../common/colors.css";

.login {
  color: makerBlack;
  text-align: center;
  width: 500px;
  background-color: makerWhite;
}

.list {
  padding: 0px 10px;
  list-style: none;
  background-color: makerWhite;
  font-weight: 1000;
  font-size: 2rem;
}
.button {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  background-color: makerWhite;
  border: 3px solid makerGreen;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: makerLightPink;
}
